{{!< default}}
{{#post}}
<div id="main" class="main expand-item">
<section class="expand expand-top">
  <div class="box expand expand-top">
    <h2 class="icon icon-blog">Page</h2>
  </div>
<div class="content">
  <article class="{{post_class}}">
    <h2>{{{title}}}</h2>
    <section>
      {{content}}
    </section>
  </article>
</div>
{{/post}}
</section>
<span class="icon icon-back"></span>
</div>
