{{!< default}}
{{#post}}
<div id="bl-main" class="bl-main bl-expand-item">
<section class="bl-expand bl-expand-top">
  <div class="bl-box bl-expand bl-expand-top">
    <h2 class="bl-icon bl-icon-blog">Blog</h2>
  </div>
<div class="bl-content">
  <article class="{{post_class}}">
    <h2>{{{title}}}</h2>
    <section>
      {{content}}
    </section>
  </article>
</div>
{{/post}}
</section>
</div>
